<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>pref_modifier</string>
	<key>CFBundleExecutable</key>
	<string>pref_modifier</string>
	<key>CFBundleIconFile</key>
	<string>PythonApplet.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.pythonmac.unspecified.pref_modifier</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>pref_modifier</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
    <key>CFBundleVersion</key>
    <string>00000.13.00</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright not specified</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<false/>
		<key>argv_emulation</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>optimize</key>
		<integer>0</integer>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
		<string>lib/python2.4</string>
		<string>lib/python2.4/lib-dynload</string>
		<string>lib/python2.4/site-packages.zip</string>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.4/Python</string>
		<string>/System/Library/Frameworks/Python.framework/Versions/2.4/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/usr/bin/python</string>
		<key>PythonLongVersion</key>
		<string>2.4.4 (#1, Oct 18 2006, 10:34:39) 
[GCC 4.0.1 (Apple Computer, Inc. build 5341)]</string>
		<key>PythonShortVersion</key>
		<string>2.4</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<false/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.3.6</string>
		</dict>
	</dict>
</dict>
</plist>
