[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec='/usr/local/nanoENGINEER-1-0.0.6/program/nanoENGINEER-1'
GenericName=
GenericName[en_US]=
Icon=/usr/local/nanoENGINEER-1-0.0.6/images/nanoENGINEER-1.ico
MimeType=
Name=nanoENGINEER-1
Name[en_US]=nanoENGINEER-1
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
